<div class="container-fluid">
  <adata-table [items]="users"
      [selectColumn]="true"
      (reload)="loadUsers($event)"
      [headerTitle]="'Users'">
    <adata-table-column [property]="'name'" [header]="'Name'" [sortable]="true" [styleClass]="'anchor'"></adata-table-column>
    <adata-table-column [property]="'salary'" [header]="'Salary'" [sortable]="true" [styleClass]="'money'"></adata-table-column>
    <adata-table-column [property]="'profession'" [header]="'Profession'" [sortable]="true" [styleClass]="'text'"></adata-table-column>
  </adata-table>
</div>
